<!DOCTYPE html>
<html lang="en" layout:decorator="/layouts/main">

<head>

</head>

<body>
	<div id="page-wrapper" layout:fragment="content">


		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<!--    	<button type="button" class="btn btn-default btn-sm pull-right">Small button</button> -->
						<span th:text="#{wallet.title}"></span>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<div class="panel-heading alert-success" th:text="#{wallet.fin}">
								</div>
								<form role="form">
									<div class="col-lg-6">
										<div class="row">
											<div class="form-group col-lg-8">
												<label id="label_data_ref" th:text="#{wallet.lastUpdate}"></label>
												<input id="input_data_ref" type="text" class="form-control"
													th:value="${#dates.format(carteira.ultimaAtualizacao,'dd/MMM/yyyy')}" />

											</div>
										</div>
										<div class="row">
											<div class="form-group col-lg-8">
												<label id="label_cred_irrf" th:text="#{wallet.irrf}"></label>
												<input id="input_cred_irrf" class="form-control"
													th:value="${#numbers.formatDecimal((carteira.credIrrf), 1, 'POINT', 2, 'COMMA')}"/>
											</div>
										</div>
										<div class="row">
										</div>

									</div>
									<div class="col-lg-6">
										<div class="row">
											<div class="form-group col-lg-8">
												<label id="label_prej_normal" th:text="#{wallet.prejNormal}"></label>
												<input id="input_prej_normal" class="form-control"
													th:value="${#numbers.formatDecimal((carteira.prejNormal), 1, 'POINT', 2, 'COMMA')}"/>
											</div>
										</div>
										<div class="row">
											<div class="form-group col-lg-8">
												<label id="label_prej_daytrade"
													th:text="#{wallet.prejDaytrade}"></label> <input
													id="input_prej_daytrade" class="form-control"
													th:value="${#numbers.formatDecimal((carteira.prejDaytrade), 1, 'POINT', 2, 'COMMA')}"/>
											</div>
										</div>
										<div class="row">
											<div class="form-group col-lg-8">
												<label id="label_prej_fii" th:text="#{wallet.prejFii}"></label>
												<input id="input_prej_fii" class="form-control"
													th:value="${#numbers.formatDecimal((carteira.prejFii), 1, 'POINT', 2, 'COMMA')}"/>
											</div>
										</div>
									</div>

									<div class="row">
										<p></p>
										<!-- ./endForm -->
									</div>

								</form>
							</div>

							<div class="col-lg-12">

								<div class="panel-heading alert-info" th:text="#{wallet.stk}">
								</div>

								<div class="panel-body">
									<table width="100%"
										class="table table-striped table-bordered table-hover"
										id="dataTables-example">
										<!-- Esta tabela sofre alteração por .js através do seu id -->
										<thead>
											<!-- Início da lista de ativos já inseridos -->
											<tr>
												<th width="80px" th:text="#{asset.quant}"></th>
												<th width="150px" th:text="#{asset.type}"></th>
												<th width="150px" th:text="#{asset.title}"></th>
												<th width="150px" th:text="#{asset.deadLine}"></th>
												<th width="120px" th:text="#{asset.app}"></th>
												<th width="120px" th:text="#{asset.value}"></th>
											</tr>
										</thead>
										<tbody>
											<div th:each="ativoCarteira : ${carteira.ativosCarteira}">
												<tr class="odd gradeX" th:object="${ativoCarteira}">
													<td id="form_lista_quant" class="center"><span th:text="*{quantidade}">-</span></td>
													<td id="form_lista_tipo" class="center"><span th:text="*{ativo.tipoAtivo.desc}">-</span></td>
													<td id="form_lista_ticker" class="center"><span th:text="*{ativo.ticker}">-</span></td>
													<td id="form_lista_vcto" class="center">
														<div th:if="*{ativo.vencimento} != null">
															<span th:text="*{#dates.format(ativo.vencimento,'dd/MMM/yyyy')}">-</span>
														</div>
													</td>
													<td id="form_lista_pr_med" class="center"><span th:text="*{#numbers.formatDecimal((precoMedio), 1, 'POINT', 4, 'COMMA')}">-</span></td>
													<td id="form_lista_valor" class="center">
														<span th:text="*{#numbers.formatDecimal((precoMedio * quantidade), 1, 'POINT', 2, 'COMMA')}">-</span>
													</td>
												</tr>
												<!-- Fim da lista de ativos em carteira -->
											</div>
										</tbody>
									</table>
									<!-- /.table-responsive -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /.row -->

	</div>
	<!-- /#page-wrapper -->

</body>

</html>
