<!DOCTYPE html>
<html lang="pt" layout:decorator="/layouts/main">

<head>

</head>

<body>
	<div id="page-wrapper" layout:fragment="content">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading" th:text="#{wallet.title}"></div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<div class="panel-heading alert-success" th:text="#{wallet.initial.fin}"></div>
								<form role="form" th:object="${carteira}" method="POST" th:action="@{/carteira/saveWallet}">
									<div class="col-lg-5">
										<div class="row">
											<div class="form-group col-lg-10">
												<label id="label_data_ref" th:text="#{wallet.refDate}"></label>
												<input id="input_data_ref" type="text" class="form-control"
														th:placeholder="${#dates.format(carteira.dataRef?:'01-01-2000','dd/MMM/yyyy')}"
														th:field="*{dataRef}"/>
												<p class="help-block" th:text="#{wallet.refDate.descr}"></p>
											</div>
										</div>
										<div class="row">
											<div class="form-group col-lg-10">
												<label id="label_cred_irrf" th:text="#{wallet.irrf}"></label>
												<input id="input_cred_irrf" class="form-control"
														th:placeholder="${#numbers.formatDecimal((carteira.credIrrf), 1, 'POINT', 2, 'COMMA')}"
														th:field="*{credIrrf}"/>
												<p class="help-block" th:text="#{wallet.irrf.descr}"></p>
											</div>
										</div>
										<div class="row">
											<div class="form-group col-lg-10">
												<button id="btn_submit_form_1" type="submit" method="POST" class="btn btn-default" th:text="#{btn.save}"></button>
												<button id="btn_reset_form_1" type="reset" class="btn btn-default" th:text="#{btn.clr}"></button>
											</div>
											<input id="userId" type="text" class="form-control" name="userId" th:placeholder="userId"/>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="row">
											<div class="form-group col-lg-11">
												<label id="label_prej_normal" th:text="#{wallet.prejNormal}"></label>
												<input id="input_prej_normal" class="form-control"
														th:placeholder="#{placeholder.zeroes}"
														th:field="*{prejNormal}" /> <!-- th:placeholder="${#numbers.formatDecimal(carteira.prejNormal, 1, 'POINT', 2, 'COMMA')}" -->
												<p class="help-block" th:text="#{wallet.prejNormal.descr}"></p>
											</div>
										</div>
										<div class="row">
											<div class="form-group col-lg-11">
												<label id="label_prej_daytrade"	th:text="#{wallet.prejDaytrade}"></label>
												<input id="input_prej_daytrade" class="form-control"
														th:placeholder="${#numbers.formatDecimal((carteira.prejDaytrade), 1, 'POINT', 2, 'COMMA')}"
														th:field="*{prejDaytrade}"/>
												<p class="help-block" th:text="#{wallet.prejDaytrade.descr}"></p>
											</div>
										</div>
										<div class="row">
											<div class="form-group col-lg-11">
												<label id="label_prej_fii" th:text="#{wallet.prejFii}"></label>
												<input id="input_prej_fii" class="form-control"
														th:placeholder="${#numbers.formatDecimal((carteira.prejFii), 1, 'POINT', 2, 'COMMA')}"
														th:field="*{prejFii}"/>
												<p class="help-block" th:text="#{wallet.prejFii.descr}"></p>
											</div>
										</div>
									</div>

									<div class="row">
										<p></p>
										<!-- ./endForm -->
									</div>

								</form>
							</div>

							<div class="col-lg-12">

								<div class="panel-heading alert-info"
									th:text="#{wallet.initial.stk}"></div>

								<div class="panel-body">
									<table width="100%"
										class="table table-striped table-bordered table-hover"
										id="dataTables-example">
										<thead>
											<!-- Início da lista de ativos já inseridos -->
											<tr>
												<th width="80px" th:text="#{asset.quant}"></th>
												<th width="150px" th:text="#{asset.type}"></th>
												<th width="150px" th:text="#{asset.title}"></th>
												<th width="150px" th:text="#{asset.deadLine}"></th>
												<th width="120px" th:text="#{asset.app}"></th>
												<th width="120px" th:text="#{asset.value}"></th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											<div th:each="ac : ${carteira.ativosCarteira}">
												<tr class="odd gradeX">
													<form role="form" th:object="${ativoCarteira}" method="POST" th:action="@{/carteira/removeAsset}">
														<input type="hidden" id="ativoTicker" th:value="${ac.ativo.ticker}" name="ativoTicker"/>
														<input type="hidden" id="carteiraId" th:value="${carteira.id}" name="carteiraId"/>
														<td id="form_lista_quant" class="center"><span th:text="${ac.quantidade}">-</span></td>
														<td id="form_lista_tipo" class="center"><span th:text="${ac.ativo.tipoAtivo.desc}">-</span></td>
														<td id="form_lista_ticker" class="center"><span th:text="${ac.ativo.ticker}">-</span></td>
														<td id="form_lista_vcto" class="center">
															<div th:if="${ac.ativo.vencimento} != null">
																<span th:text="${#dates.format(ac.ativo.vencimento,'dd/MMM/yyyy')}">-</span>
															</div>
														</td>
														<td id="form_lista_pr_med" class="center">
															<span th:text="${#numbers.formatDecimal((ac.valor / ac.quantidade), 1, 'POINT', 4, 'COMMA')}">-</span>
														</td>
														<td id="form_lista_valor" class="center">
															<span th:text="${#numbers.formatDecimal((ac.valor), 1, 'POINT', 2, 'COMMA')}">-</span>
														</td>
														<td id="head_lista_botao">
								<!-- 							<button id="btn_submit_form_2" type="submit" class="btn btn-warning btn-circle">
																<i class="fa fa-pencil"></i>
															</button> -->
															<button id="btn_reset_form_2" type="submit" class="btn btn-danger btn-circle">
																<i class="fa fa-times"></i>
															</button>
														</td>
													</form>
												</tr>
											</div>
											<!-- Fim da lista de ativos já inseridos -->

											<!-- Linha em branco para inserção de novos Ativos -->
											<form role="form" th:object="${ativoCarteira}" method="POST" th:action="@{/carteira/saveAsset}">
												<div class="form-group">
													<tr class="odd gradeX">
														<input type="hidden" id="ativoId" th:value="20" name="ativoId"/>
														<input type="hidden" id="carteiraId" th:value="${carteira.id}" name="carteiraId"/>

														<td class="center">
															<input class="form-control"	id="form_lista_quant"
																	th:field="*{quantidade}" th:placeholder="#{placeholder.zero}" />
														</td>
														<td class="center" id="form_lista_tipo">
															<select	class="form-control" >										<!--  th:field="*{ativo.tipoAtivo}" -->
																<div th:each="ta : ${tiposAtivo}">
																	<option th:text="${ta.desc}" th:value="${ta.id}">-</option>
																</div>
															</select>
														</td>
														<td class="center">
															<input class="form-control"	id="form_lista_ticker" type="text"
																	th:placeholder="#{asset.ticker}" />							<!-- th:field="*{ativo.ticker}" -->
														</td>
														<td class="center">
															<input class="form-control" id="form_lista_vcto" type="date"
																	th:placeholder="#{placeholder.dateStd}" disabled="true" />
														</td>
														<td class="center">
															<input class="form-control" id="form_lista_pr_med" type="text"
																	th:placeholder="#{placeholder.zeroes}" disabled="true" />
														</td>
														<td class="center">
															<input class="form-control" id="form_lista_valor" type="text"
																	th:placeholder="#{placeholder.zeroes}" th:field="*{valor}"/>
														</td>
														<td>
															<button id="btn_adiciona_form_1" type="submit" class="btn btn-primary btn-circle">
																<i class="fa fa-plus"></i>
															</button>
														</td>
													</tr>
												</div>
											</form>
											<!--  Fim da linha em branco -->
										</tbody>
									</table>
									<!-- /.table-responsive -->
								</div>


							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
		<!-- /.row -->

	</div>
	<!-- /#page-wrapper -->

</body>

</html>
