<!DOCTYPE html>
<html lang="en" layout:decorator="/layouts/main">

<head>

</head>

<body>
	<div id="page-wrapper" layout:fragment="content">
		<div class="row">
			<div class="col-lg-12">
				<div class="col-lg-6 col-md-9">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<div class="row">
								<div class="col-xs-9 text-right">
									<div class="big-font">InvestIR</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /.row -->
		</div>
		<!-- /#page-wrapper -->
	</div>
</body>

</html>
